html {
  height: 100%;
}
body {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  height: 100%;
  background-image: url('../images/palmer.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 800;
  margin: 0;
}

.extruded {
  position: relative;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}
.extruded:hover {
  text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px, #58E 5px 5px, #58E 6px 6px;
  left: -6px;
  top: -6px;
}

.th {
  font-size: 8pt;
  line-height: 16px;
  vertical-align: top;
}

$placeholder: #444;
::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder;
}

header {
  padding: 50px 0 20px 0;
  color: #fff;
  h1 {
    text-shadow: rgba(60,60,60,0.2) 1px 1px, rgba(60,60,60,0.2) 2px 2px, rgba(60,60,60,0.2) 3px 3px, rgba(60,60,60,0.2) 4px 4px, rgba(60,60,60,0.2) 5px 5px, rgba(60, 60, 60, 0.2) 6px 6px;
    display: inline-block;
    font-size: 35pt;
  }
  h2 {
    -webkit-text-stroke: 1px #aaa;
    margin-bottom: 30px;
  }
  .call-to-action {
    margin: 40px auto;
    display: table;
    span {
      vertical-align: middle;
      display: table-cell;
      color: #111;
      text-shadow: rgba(160,160,160,0.8) 1px 1px, rgba(160,160,160,0.8) 2px 2px, rgba(160,160,160,0.8) 3px 3px;
      font-weight: 800;
      font-size: 90%;
    }
    a {
      // reset
      background: none;
      border: none;
      padding: 0px;
      margin: 0px;
      text-decoration: none;

      padding: 1px 4px;
      font-size: 16pt;
      color: #111;
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      box-shadow: #111 1px 1px, #111 2px 2px, #111 3px 3px;
      text-shadow: rgba(160,160,160,0.8) 1px 1px, rgba(160,160,160,0.8) 2px 2px, rgba(160,160,160,0.8) 3px 3px;
      // polka dotted bg
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
      border: 1px solid #111;

      -moz-transition: all 0.1s ease-out; /* FF3.7+ */
      -o-transition: all 0.1s ease-out; /* Opera 10.5 */
      -webkit-transition: all 0.1s ease-out; /* Saf3.2+, Chrome */
      transition: all 0.1s ease-out;
    }
    a.register { margin-right: 17px; }
    a.sponsor { margin-left: 14px; }
    a:hover {
      text-decoration: none;
      background: transparent;
    }
    a:active {
      background: transparent;
      top: 2px;
      left: 2px;
      box-shadow: #111 1px 1px;
      text-shadow: rgba(160,160,160,0.8) 1px 1px;
    }
    #register-form {
      input[type='email'],
      input[type='text'] {
        // reset
        background: transparent;
        outline: 0;
        border: none;
        // padding: 0;

        margin-right: -4px;
        font-size: 16pt;
        // line-height: 16px;
        width: 250px;
        border-bottom: 1px solid #222;
        color: #111;
      }
      input[type='submit'],
      .cancel {
        // reset
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;

        padding: 1px 4px;
        font-size: 16pt;
        box-shadow: #111 1px 1px, #111 2px 2px, #111 3px 3px;
        text-shadow: rgba(160,160,160,0.8) 1px 1px, rgba(160,160,160,0.8) 2px 2px, rgba(160,160,160,0.8) 3px 3px;
        // polka dotted bg
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
        border: 1px solid #111;
      }
      input[type='submit']:hover,
      .cancel:hover {
        background: transparent;
      }
      input[type='submit']:active,
      .cancel:active {
        background: transparent;
        top: 2px;
        left: 2px;
        box-shadow: #111 1px 1px;
        text-shadow: rgba(160,160,160,0.8) 1px 1px;
      }
    }
  }
  p {
    margin: 0;
    -webkit-text-stroke: 1px #f2f2f2;
    font-size: 12pt;
    line-height: 16pt;
  }
}
footer {
  .social {
    h2 {
      color: #fff;
      margin: 0 0 5px 0;
      -webkit-text-stroke: 1px #ccc;
    }
    img {
      width: 48px;
    }
  }
}

/* Medium screens and up */
@media only screen and (min-width: 768px) {
  .th {
    font-size: 13pt;
    line-height: 25px;
  }
  header {
    padding: 100px 0 20px 0;
    h1 {
      font-size: 80pt;
    }
    h2 {
      font-size: 25pt;
    }
    .call-to-action {
      a {
        padding: 5px 20px;
        font-size: 30pt;
      }
      a.register { margin-right: 23px; }
      a.sponsor { margin-left: 20px; }
      span {
        font-size: 100%;
      }
      #register-form {
        input[type='email'],
        input[type='text'] {
          font-size: 30pt;
          padding-bottom: 5px;
          width: 460px;
        }
        input[type='submit'] {
          margin-right: 15px;
        }
        input[type='submit'],
        .cancel {
          font-size: 30pt;
          padding: 5px 20px;
        }
      }
    }
    p {
      font-size: 20pt;
      line-height: 25pt;
    }
  }
}

/* Small screens */
@media only screen and (max-width: 767px) {

}
