html {
  height: 100%;
}
body {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  height: 100%;
  background-image: url('../images/palmer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 800;
  margin: 0;
}

.extruded {
  position: relative;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}
.extruded:hover {
  text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px, #58E 5px 5px, #58E 6px 6px;
  left: -6px;
  top: -6px;
}

.th {
  font-size: 12pt;
  vertical-align: top;
}

header {
  padding: 100px 0;
  color: #fff;
  h1 {
    text-shadow: rgba(60,60,60,0.2) 1px 1px, rgba(60,60,60,0.2) 2px 2px, rgba(60,60,60,0.2) 3px 3px, rgba(60,60,60,0.2) 4px 4px, rgba(60,60,60,0.2) 5px 5px, rgba(60, 60, 60, 0.2) 6px 6px;
    display: inline-block;
  }
  .call-to-action {
    margin: 0 auto;
    display: table;
    span {
      vertical-align: middle;
      display: table-cell;
    }
    a {
      // reset
      background: none;
      border: none;
      padding: 0px;
      margin: 0px;
      text-decoration: none;

      text-transform: uppercase;
      // font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      position: relative;
      padding: 5px 20px;
      margin: 0 20px;
      box-shadow: #111 1px 1px, #111 2px 2px, #111 3px 3px;
      text-shadow: rgba(160,60,160,0.8) 1px 1px, rgba(160,160,160,0.8) 2px 2px, rgba(160,160,160,0.8) 3px 3px;
      // background-color: rgba(240, 240, 240, 0.2);
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=) repeat;
      color: #111;
      font-size: 30pt;
      border: 1px solid #111;

      -moz-transition: all 0.1s ease-out; /* FF3.7+ */
      -o-transition: all 0.1s ease-out; /* Opera 10.5 */
      -webkit-transition: all 0.1s ease-out; /* Saf3.2+, Chrome */
      transition: all 0.1s ease-out;
    }
    a:hover {
      text-decoration: none;
      background: transparent;
    }
    a:active {
      background: transparent;
      top: 2px;
      left: 2px;
      box-shadow: #111 1px 1px;
      text-shadow: rgba(160,60,160,0.8) 1px 1px;
    }
  }
  p {
    font-size: 20pt;
  }
}
footer {
  .social {
    img {
      width: 48px;
    }
  }
}

/* Very large screens */
@media only screen and (min-width: 1441px) {
  header {
    h1 {
      font-size: 80pt;
    }
    h2 {
      font-size: 25pt;
    }
  }
}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) {

}

/* Small screens */
@media only screen and (max-width: 767px) {

}
